geopandas==0.14.4
leafmap==0.32.1
numpy==1.26.4
streamlit==1.35.0
streamlit_extras==0.4.3
streamlit-aggrid==0.3.4.post3
streamlit_lottie==0.0.5
st-pages==0.4.5
mapclassify==2.6.1
pdbio==0.4.2
altair==4.2.2
pandas==2.2.2
matplotlib==3.8.2
