geopandas==0.12.2
leafmap==0.17.1
numpy==1.24.2
streamlit==1.19.0
streamlit_extras==0.2.6
streamlit-aggrid==0.3.4.post3
streamlit_lottie==0.0.3
st-pages==0.4.1
mapclassify==2.5.0
pdbio==0.4.2
altair<5
pandas<2
