/* Change font */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap");
html,
body,
[class*="css"] {
  font-family: "Inter";
}

/* Move block container higher */
/* div.block-container.css-18e3th9.egzxvld2 {
  margin-top: -5em;
} */

/* Reduce top padding */
div.block-container.css-k1ih3n.egzxvld4 {
  padding: 1rem 5rem 10rem;
}

/* Sidebar width */
/* section.css-1r8kh3x.e1fqkh3o11 p {
  width: 244px;
} */

/* Hide hamburger menu and footer */
/* div.css-r698ls.e8zbici2 {
  display: none;
}

footer.css-ipbk5a.egzxvld4 {
  display: none;
}

footer.css-12gp8ed.eknhn3m4 {
  display: none;
}

div.vg-tooltip-element {
  display: none;
} */

/* Cards */
/* div.css-ocqkz7.e1tzin5v4 {
  background-color: #cad2dd;
  border: 1px solid #1a5971;
  padding: 1% 0% 1% 5%;
  border-radius: 5px;
  /* color: #c8d1d9; */

/* border-left: 0.3rem solid #1a5971 !important;
  box-shadow: 0 0.1rem 0.3rem 0 #1a5971 !important; */
/* } */
